.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #D30000;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #D30000;
}

.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip,
.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip {
  /* display: block; */
  display: table-footer-group;;
}

.required-text {
  color: red;
}

.d-none {
  display: none;
}

.text-lightest {
  color: #99A5B5;
}

.p-20 {
  padding: 20px !important;
}

.w-100 {
  width: 100% !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
  flex-direction: column !important;
}

.d-flex {
  display: flex !important;
}

.d-flow-root {
  display: flow-root;
}

.b-0 {
  border: 0px !important;
}

.profile-image-sidebar {
  height: 60px;
  width: 60px;
}

.flex-container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

tags {
  height: 100% !important;
}

.select2-container {
  width: 100% !important;
}

@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}

.spinner-border-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0.2em;
}

@media (prefers-reduced-motion: reduce) {

  .spinner-border,
  .spinner-grow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.blockElement {
  margin-top: 15% !important;
}

.f-12 {
  font-size: 12px;
}

.page-heading {
  padding: 0 10px 10px 10px;
}


img.taskEmployeeImg {
  width: 30px;
  height: 30px;
}

.taskEmployeeImg {
  width: 25px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}

.taskEmployeeImg {
  border: 1px solid #e8eef3;
}

.mw-250 {
  max-width: 250px;
  min-width: 140px;
}

.align-items-center {
  align-items: center !important;
}

.media {
  display: flex;
  align-items: flex-start;
}

.rounded-circle {
  border-radius: 50% !important;
}

.table tr td {
  font-size: 13px;
  color: #28313c;
  box-shadow: 0 1px 0 0 #f1f1f3;
  vertical-align: middle !important;
}

.text-light-green {
  color: #39e500;
}

.input-group-addon {
  cursor: pointer;
}


.select2-container--default .select2-selection--single {
  border: 1px solid #e5e6e7;
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}

.select2-selection--single .select2-selection__arrow b {
  top: 68% !important;
}

.notification-list {
  list-style: none outside none;
  text-shadow: none;
  margin: 2px 0 0;
  padding: 0px;
}

.notification-list ul li {
  margin: 0px 0px 0px 0px;
}

.text-darkest-grey {
  color: #55555a !important;
}

.dataTables_wrapper {
  padding-bottom: 0px !important;
  
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.d-lg-flex {
  display: flex !important;
}

.d-md-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.f-8 {
  font-size: 8px;
}

.f-10 {
  font-size: 10px;
}

.f-11 {
  font-size: 11px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 19px;
}

.f-20 {
  font-size: 20px;
}

.f-21 {
  font-size: 21px;
}

.f-27 {
  font-size: 27px;
}

.f-57 {
  font-size: 57px;
}

.w-12rem {
  width: 12rem !important;
} 

.text-red {
  color: #D30000;
}